<%- include("Partials/header.ejs"); -%>

<div class="land text-center">
  <h1>Welcome</h1>
  <h4>
    some text here
    </h4>
</div>

<div class="container-fluid">
<div class="content pt-5">
  <h2>Heading 1</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="content pt-5">
  <h2>Heading 1</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="row pt-5">
  <div class="col-md-4">
    <img src=""class="pic" alt="picture1">
    <h3>inner heading 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-md-4">
    <img src="" class="pic" alt="picture1">
      <h3>inner heading 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
  <div class="col-md-4">

      <img src="" class="pic" alt="picture1">
      <h3>inner heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>

</div>
<div class="row pt-5">
  <div class="col-md-8">
    <h1>Something here</h1>
  </div>
  <div class="col-md-4">
    <h3>Operating hours</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Days </th>
            <th scope="col">Opening Time </th>
            <th scope="col">Closing Time </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Monday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Weekend</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<%- include("Partials/footer.ejs"); -%>
