
<%- include("Partials/header.ejs"); -%>
<div class="landS text-center">
<h1>Services</h1>
<h4>What we offer</h4>
</div>

<<div class="container-fluid pb-4">
  <div class="row pt-5 text-center ">
    <div class="col-md-4">
      <div class="card border-success">
        <div class="card-body">
          <h4 class="card-title">Rent a car</h4>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a class="btn btn-success" href="#">Get Started</a>
        </div>

      </div>

    </div>
    <div class="col-md-4">
      <div class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Lend Your Car</h4>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a class="btn btn-primary" href="#">Get Started</a>

        </div>

      </div>

    </div>
    <div class="col-md-4">
      <div class="card border-danger">
        <div class="card-body">
          <h4 class="card-title">Something here</h4>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a class="btn btn-danger" href="#">Get Started</a>
        </div>

      </div>

    </div>

  </div>
<div class="content pt-5">
  <h2>Maybe Something HERE</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>

<%- include("Partials/footer.ejs"); -%>
