<%- include("Partials/header.ejs") -%>

<div class="landA text-center">
<h1>About us</h1>
<h4>Meet the team</h4>
</div>


<div class="container-fluid pb-4">
  <div class="content pt-5">
    <h2>Our Mission</h2>
    <ul>
      <li>Giving the best vehicle administration is our specialty</li>
      <li>Our central goal is to keep giving elite rental administrations at reasonable rates.</li>
      <li> We expect to offer unrivalled types of assistance in this manner setting better expectations in vehicle rentals.</li>
    </ul>
    <h3>Vision</h3>
    <p>Our vision is to turn into the main brand in the rental of a wide range of vehicles and to have the greatest organization of branches in South Africa. </p>
    <p>We plan to persistently improve our services and administrations by methods for advancement, following client criticism and self-evaluation</p>
  </div>
    <h2 class="text-center">Meet the Team</h2>
  <div class="row pt-2">

    <div class="col-md-4  pb-4">
      <div class="card shadow" >
  <img src="/images/jp.jpeg" class="card-img-top" alt="..." height="260px">
  <div class="card-body">
    <h5 class="card-title">Peter Radebe</h5>
    <p class="card-text">Back-end developer.</p>
  </div>
    </div>
  </div>

    <div class="col-md-4  pb-4">
      <div class="card shadow"  >
        <img src="/images/dash.jpeg" class="card-img-top" alt="..." height="260px">
        <div class="card-body">
          <h5 class="card-title">Mqondisi Mathuthu</h5>
          <p class="card-text">Back-end developer.</p>
        </div>
      </div>

    </div>
    <div class="col-md-4  pb-4">
      <div class="card shadow" >
        <img src="/images/ace.jpg" class="card-img-top" alt="..." height="260px">
        <div class="card-body">
          <h5 class="card-title">Webstar Maseko</h5>
          <p class="card-text">full stack developer</p>
        </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow" >
      <img src="/images/ref.jpg" class="card-img-top" alt="..."height="260px">
      <div class="card-body">
        <h5 class="card-title">Refiloe Mofubetsoana</h5>
        <p class="card-text">Analyst</p>
      </div>
  </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow" >
      <img src="/images/bongs.jpeg" class="card-img-top" alt="..." height="260px">
      <div class="card-body">
        <h5 class="card-title">Bongani Mtimkulu </h5>
        <p class="card-text">Project manager</p>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card shadow" >
    <img src="/images/blu.jpeg" class="card-img-top" alt="..." height="260px">
    <div class="card-body">
      <h5 class="card-title">Rethabile Lethae</h5>
      <p class="card-text">Analyst</p>
    </div>
</div>
</div>

  </div>
</div>

<%- include("Partials/footer.ejs") -%>
