<%- include("Partials/header.ejs") -%>

<div class="landA text-center">
<h1>About us</h1>
<h4>Meet the team</h4>
</div>
<div class="container-fluid pb-4">
  <div class="content pt-5">
    <h2>Our Mission</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3>Vision</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
    <h2 class="text-center">Meet the Team</h2>
  <div class="row pt-2">

    <div class="col-md-4  pb-4">
      <div class="card shadow" >
  <img src="/images/jp.jpeg" class="card-img-top" alt="..." height="260px">
  <div class="card-body">
    <h5 class="card-title">Jabez Radebe</h5>
    <p class="card-text">Back-end developer.</p>
  </div>
    </div>
  </div>

    <div class="col-md-4  pb-4">
      <div class="card shadow"  >
        <img src="/images/dash.jpeg" class="card-img-top" alt="..." height="260px">
        <div class="card-body">
          <h5 class="card-title">Mqondisi Mathuthu</h5>
          <p class="card-text">Back-end developer.</p>
        </div>
      </div>

    </div>
    <div class="col-md-4  pb-4">
      <div class="card shadow" >
        <img src="/images/ace.jpg" class="card-img-top" alt="..." height="260px">
        <div class="card-body">
          <h5 class="card-title">Webstar Maseko</h5>
          <p class="card-text">full stack developer</p>
        </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow" >
      <img src="/images/ref.jpg" class="card-img-top" alt="..."height="260px">
      <div class="card-body">
        <h5 class="card-title">Refiloe</h5>
        <p class="card-text">Analyst</p>
      </div>
  </div>
  </div>
  <div class="col-md-4 ">
    <div class="card shadow" >
      <img src="/images/us.jpg" class="card-img-top" alt="..." height="260px">
      <div class="card-body">
        <h5 class="card-title">Bongane </h5>
        <p class="card-text">Project manager</p>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card shadow" >
    <img src="/images/blu.jpeg" class="card-img-top" alt="..." height="260px">
    <div class="card-body">
      <h5 class="card-title">Blue</h5>
      <p class="card-text">Something</p>
    </div>
</div>
</div>

  </div>
</div>

<%- include("Partials/footer.ejs") -%>
