<%- include("Partials/header.ejs"); -%>

<div class="land text-center">
  <h1>XENOS</h1>
  <h4>
    World Class Online Car Rentals.
    </h4>
</div>

<div class="container-fluid">
<div class="content pt-5">
  <h2>What is XENOS?</h2>
  <p>
    XENOS is a company that offers world class car rental services to people in South Africa through a user friendly online booking system. We don’t own any cars, however, we allow those who wish to rent out their cars (which are in a good condition of course) to do so, through us, to generate income for them and for us.
    </p>
</div>
<div class="content pt-5">
  <h2>Our Vision</h2>
  <p>
    Our vision is to turn into the main brand in the rental of a wide range of vehicles and to have the greatest organization of branches in South Africa. We plan to persistently improve our services and administrations by methods for advancement, following client criticism and self-evaluation.
    </p>
</div>
<div class="row pt-5">
  <div class="col-md-4">
    <img src="/images/y.jpg"class="pic" alt="picture1">
    <h3 class="pt-4">Why use XENOS?</h3>
    <p>We’re uniquely placed to find you a one-way rental with the lowest possible one-way fee.</p>
  </div>
  <div class="col-md-4">
    <img src="/images/tran.jpg" class="pic" alt="picture1">
      <h3 class="pt-4">Paperless Transactions</h3>
      <p>Any business needs to contend with clutter from manual transactions and recording systems.
        We make the car rental process “paperless” as our system supports support electronic charging, invoicing and even storage.
        This is particularly useful in preventing automobile damage disputes as many such systems enable users to take pictures or videos of their vehicles prior to leasing them out.
        This is intended to show clients the condition that their car was in before it leaves their lot.
        </p>

  </div>
  <div class="col-md-4">

      <img src="/images/miss.jpg" class="pic" alt="picture1">
      <h3 class="pt-4" >Our Mission</h3>
      <p>Giving the best vehicle administration is our specialty. Our central goal is to offer elite rental administrations at reasonable rates. We expect to offer unrivalled types of assistance in this manner setting better expectations in vehicle rentals.</p>

  </div>

</div>
<div class="row pt-5">
  <div class="col-md-8">
  <img src="/images/Q.jpeg" style="width:100%; height:100%;"  alt="picture1">
  </div>
  <div class="col-md-4">
    <h3>Operating hours</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Days </th>
            <th scope="col">Opening Time </th>
            <th scope="col">Closing Time </th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Monday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
        <tr>
          <td>Weekend</td>
          <td>07h00</td>
          <td>20h00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<%- include("Partials/footer.ejs"); -%>
