
<%- include("Partials/header.ejs"); -%>
<div class="landS text-center">
<h1>Services</h1>
<h4>What we offer</h4>
</div>

<<div class="container-fluid pb-4">
  <div class="row pt-5 text-center ">
    <div class="col-md-4">
      <div class="card border-success" style="height:23rem;">
        <div class="card-body">
          <h4 class="card-title">Getting you from A to B</h4>
          <p class="card-text">
            We’ll find you a great price on a car hire – and before you commit yourself to anything, we’ll provide details of any one-way fee the car hire company charges.
            When you know the facts, you’re free to plan the trip you really want.
              </p>

        </div>

      </div>

    </div>
    <div class="col-md-4">
      <div class="card border-primary" style="height:23rem;">
        <div class="card-body">
          <h4 class="card-title">Booking Made Easy</h4>
          <p class="card-text">
            Bookings are typically made over the counter, requiring clients to go to the organization's premises and book a ride.
            With car rental arrangements, clients themselves can make bookings directly from the company website, making the process much easier.
            This results in richer customer experience and therefore repeat business.
              </p>


        </div>

      </div>

    </div>
    <div class="col-md-4">
      <div class="card border-danger"  style="height:23rem;">
        <div class="card-body">
          <h4 class="card-title">Customer Support</h4>
          <p class="card-text">
            We seek to be productive, to get more output using software applications that will speed up work or improve our projects quality
              </p>
          
        </div>

      </div>

    </div>

  </div>

</div>

<%- include("Partials/footer.ejs"); -%>
